@model Acts29Torch.MODEL.PrmReport.CreatePrmReportIn
@{
    ViewBag.Title = "訪談紀錄";
}


<div class="row">
    <div class="col-lg-2" id="LeftDiv">
    </div>
    <div class="col-lg-8">

    </div>
    <div class="col-lg-2" id="RightDiv">

    </div>
</div>
@section Script
{
    @*特殊套件放置處*@
}
@section PageScript
{
    <script>
 
    </script>
}
